body {
        margin: 0px;
        padding: 0px;
      }
    

#mySquare, #box1,#box2,#box3{
	height: 300px;
	width: 32%;
	border:  solid black;
	background-color: rgb(0,255,0);
	display: inline-block;


}
p{
	font-size: 2em;
	text-align: center;
	margin-top: 3em;
}
#wrap{
	display: block;
	
}